{% extends 'SuministrosInformaticosApp/base.html' %} {% load static %}
<!-- blockend tiene que estar indentado para que no de error por eso dejo ese espacio ya que al corregirse solo lo posiicona mal-->
{% block content %}

<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
      <h2 class="section-heading mb-4">
        <span class="section-heading-upper">Comprometidos con la Calidad</span>
        <span class="section-heading-lower"
          >Nuestros expertos a tu disposición</span
        >
      </h2>
      <p class="mb-3">Tu pedido en menos de 24h.</p>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper"
              >Los mejores productos del mercado a tu disposición</span
            >
            <span class="section-heading-lower"
              >Nº 1 en suministros informáticos</span
            >
          </h2>
          <p class="mb-0">
            Más de 25 años de experiencia en el sector. Desde Suministros
            Informáticos, acercamos a las empresas y a los profesionales la
            tecnologia más avanzada y de última generación. Trabajamos con las
            mejores marcas del mercado. Puntualidad, Calidad y Expertise.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
