{% extends 'SuministrosInformaticosApp/base.html' %} {% load static %}
<!-- blockend tiene que estar indentado para que no de error por eso dejo ese espacio ya que al corregirse solo lo posiciona mal-->
{% load crispy_forms_tags %} {% block content %}

<form method="post" action="" style="color: white">
  {% csrf_token %}
  <div style="width: 20%; margin: auto">
    <!-- para indentar correctamente -->

    {% if messages %}
    <!-- para indentar correctamente -->
    {% for mensaje in messages %}
    <!-- para indentar correctamente -->
    <!---->
    {{ mensaje }}
    <!-- para indentar correctamente -->
    {% endfor %}
    <!-- para indentar correctamente -->
    {% endif %}
    <!-- para indentar correctamente -->

    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Login</button>
  </div>
</form>

{% endblock %}
<!---->
